img{
    height: 200px;
    width: 400px;
    padding: 10px; 
    margin-left: 400px;
    position: center;
}
p{
    text-align: center;
    color:#0C5E69;
   font-size:30px ;
   font-weight: bolder;
}
.item{
    font-size: 30px;
    height: 180%;
    width: 220px;
    background-color: hsl(187, 79%, 23%);
    color: white;
   
    border: 0.5px solid hsl(187, 79%, 23%);
   
}
.container{
    display: grid;
   grid-template-columns: 20% 20% 20%;
   text-align: center;
  place-content: center;
  grid-row: 5px;
  row-gap: 5px;
  

}
.row{
   
    font-size: 30px;
    height: 90px;
    width: 220px; 
    margin-top:0px ;  
    border: 1px solid hsl(187, 79%, 23%);
}
.para{
    font-size: 30px;
    font-weight: bolder;
    color: #D1C000;
    

}
.container1{
    display: grid;
 grid-template-columns: 17% 17% 17% ;
   text-align: center;
   place-content: center;
  
 
 column-gap: 4px;
}


.delete{
    color: white; 
    background-color: red;
}

a{
    color: white;
    width: min-content;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0C5E69;
}

